html,
body {
    height: 100%;
	font-family: 'Roboto', sans-serif;
}

a{
	cursor:pointer;
}

.main_gifs{
	margin-top:10px;
	margin-bottom:50px;
}

.cont_filter{
	padding-top:20px;
	padding-bottom:10px;
}

.actions_gifs{
	cursor:pointer;
}

.spacing_box_gif{
	padding-top: 5px;
    padding-bottom: 15px;
}

.gif_alto{
	height:300px !important;
	max-height:300px !important;
}

/*CSS form up gif´s*/
#uploadForm {
	border-top:#F0F0F0 2px solid;
	background:#FAF8F8;
	padding:10px;
}

#uploadForm label {
	margin:2px; 
	font-size:1em; 
	font-weight:bold;
}
.demoInputBox{
	padding:5px; 
	border:#F0F0F0 1px solid; 
	border-radius:4px; 
	background-color:#FFF;
}

#progress-bar {
	background-color: #12CC1A;
	height:20px;
	color: #FFFFFF;
	width:0%;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}

#progress-div {
	padding: 5px 0px;
	margin:30px 0px;
	border-radius:4px;
	text-align:center;
}

#targetLayer{
	width:100%;
	text-align:center;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	.main_gifs{
		margin-top:5px;
		margin-bottom:5px;
	}
	.cont_filter{
		padding-top:5px;
		padding-bottom:5px;
	}
	
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
	.main_gifs{
		margin-top:5px;
		margin-bottom:5px;
	}
	.cont_filter{
		padding-top:5px;
		padding-bottom:5px;
	}
	
}
